@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: -0.6fr 2.7fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "ladoa principal"; }

@media (max-width: 991px) {
  .contenedor {
    display: grid;
    width: 98vw;
    background-color: darkgreen;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: -0.6fr 2.7fr 2.7fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "encabezado encabezado" "principal principal" "ladoa ladoa" "pie pie"; } }

@media (max-width: 420px) {
  .contenedor {
    width: 100vw; } }

.encabezado {
  grid-area: encabezado; }
  .encabezado .navbar > .container {
    background-image: linear-gradient(to bottom, darkgreen, lightgreen); }
  .encabezado .navbar ul li {
    width: 150px;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    color: darkgreen;
    display: inline-block;
    background-color: white;
    text-align: center;
    border: solid darkorange; }
    .encabezado .navbar ul li a {
      display: flex;
      text-align: center;
      padding: 0px;
      color: darkgreen;
      font-family: "Anton", sans-serif;
      text-decoration: none;
      justify-content: center; }
  .encabezado .navbar-brand img {
    width: 150px;
    border-radius: 5px;
    border-color: red;
    margin-left: 7px; }
  .encabezado nav {
    background-image: linear-gradient(to bottom, darkgreen, lightgreen) !important;
    overflow: hidden; }
    .encabezado nav ul {
      margin: 15px;
      padding: 0;
      list-style: none;
      position: relative; }
      .encabezado nav ul li {
        transition: background-color 0.5s ease;
        float: left;
        background-color: #555; }
        .encabezado nav ul li a {
          display: block;
          padding: 1px;
          color: #fff;
          text-decoration: none; }
        .encabezado nav ul li:hover {
          background-color: orange; }
  .encabezado #navbarNav {
    justify-content: flex-end; }
  .encabezado .navbar-toggler {
    border: solid 5px white; }
    .encabezado .navbar-toggler:hover {
      border: solid 5px orange; }

@media (max-width: 991px) {
  .encabezado nav ul {
    margin: -12px; } }

@media (max-width: 768px) {
  .encabezado nav ul {
    margin: -12px; } }

.ladoa {
  padding: 20px;
  margin: 20px;
  border: solid 5px goldenrod;
  background-color: white;
  grid-area: ladoa; }
  .ladoa img {
    width: 35px; }
  .ladoa .resultado {
    margin: 5px;
    padding: 5px; }
    .ladoa .resultado h2 {
      font-family: "Lato", sans-serif;
      color: orange;
      margin: 5px;
      text-align: center; }
    .ladoa .resultado table {
      background-color: #7AB318;
      text-align: center;
      border-collapse: collapse;
      width: 100%; }
    .ladoa .resultado td,
    .ladoa .resultado th {
      text-align: center;
      padding: 1px;
      border: 1px solid black; }
    .ladoa .resultado tr:nth-child(odd):hover {
      background-color: #A0C55E; }
  .ladoa .posiciones {
    margin: 5px;
    padding: 5px; }
    .ladoa .posiciones .destacado {
      font-family: Arial;
      font-weight: bold;
      background-color: #0D6859; }
    .ladoa .posiciones table {
      width: 100px;
      margin: 0 auto;
      color: darkgreen;
      text-align: center; }
      .ladoa .posiciones table tr:nth-child(odd) {
        border: 1px solid black;
        background-color: #A0C55E; }
      .ladoa .posiciones table tr:nth-child(odd):hover {
        color: black;
        background-color: #00aa00; }
      .ladoa .posiciones table tr:nth-child(even) {
        border: 1px solid black;
        background-color: #7AB318; }
      .ladoa .posiciones table tr:nth-child(even):hover {
        color: black;
        background-color: #007700; }
    .ladoa .posiciones h2,
    .ladoa .posiciones p {
      font-family: 'Lato', sans-serif;
      width: 400px;
      margin: 20px auto;
      text-align: center;
      color: orange; }
    .ladoa .posiciones .posiciones tr {
      cursor: pointer; }
  .ladoa .media {
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: center; }

@media (max-width: 420px) {
  .ladoa {
    display: none; } }

.pie {
  height: 100px;
  align-content: center;
  display: grid;
  padding-top: 5px;
  background-image: linear-gradient(to bottom, lightgreen, darkgreen);
  grid-area: pie; }
  .pie ul {
    display: flex;
    justify-content: center; }
    .pie ul li {
      list-style: none;
      border-radius: 5px;
      color: darkgreen;
      display: inline-block;
      text-align: center;
      width: 45px;
      height: 45px; }
      .pie ul li a {
        color: black;
        justify-content: center;
        text-decoration: none; }
  .pie img {
    width: 40px; }

.principal {
  padding: 20px;
  margin: 20px;
  border: solid 5px goldenrod;
  background-color: white;
  text-align: center;
  grid-area: principal; }
  .principal img {
    border: solid 3px goldenrod;
    width: 650px; }
  .principal h1 {
    color: darkgreen;
    font-family: "Oswald", sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 60px;
    text-decoration: underline;
    text-align: center; }
  .principal p {
    color: darkgreen;
    font-family: "Roboto Condensed", sans-serif;
    width: 90%;
    font-size: 15px;
    margin: 40px;
    text-align: justify; }
  .principal .nota {
    margin: 5px;
    padding: 5px;
    border: solid 2px darkgreen; }
    .principal .nota h2 {
      font-size: 40px;
      margin: 20px;
      text-decoration: underline;
      text-align: center; }
    .principal .nota p {
      color: darkgreen;
      font-family: "Roboto Condensed", sans-serif;
      width: 90%;
      font-size: 15px;
      margin: 40px;
      text-align: justify; }

@media (max-width: 991px) {
  .principal {
    border: white solid 2px;
    border-radius: 2px;
    background-color: darkgreen; }
    .principal img {
      border: white solid 2px;
      border-radius: 2px; }
    .principal h1 {
      color: white; }
    .principal .nota {
      border: white solid 2px;
      border-radius: 2px; }
      .principal .nota h2 {
        margin: auto;
        color: orange; }
      .principal .nota p {
        margin: auto;
        font-size: 20px;
        color: white; }
      .principal .nota img {
        /* height: 60vh; */
        width: 80vw; } }

@media (max-width: 768px) {
  .principal .nota p {
    margin: 4px;
    font-size: 15px; } }

@media (max-width: 420px) {
  .principal {
    width: 90vw; }
    .principal .nota p {
      margin: auto;
      font-size: 13px; }
    .principal .nota h2 {
      margin: auto;
      padding: 5px;
      font-size: 30px; }
    .principal .nota img {
      width: 70vw; } }

.galeria {
  padding: 20px;
  margin: 20px;
  border: solid 5px goldenrod;
  background-color: white;
  text-align: center; }
  .galeria img {
    border: goldenrod solid 2px;
    width: 500px;
    height: 500px; }
  .galeria h1 {
    color: darkgreen;
    font-family: "Oswald", sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 60px;
    text-decoration: underline;
    text-align: center; }
  .galeria h3 {
    font-family: "Oswald", sans-serif;
    margin: 10px;
    padding: 10px;
    text-align: justify; }
  .galeria .carousel-inner p {
    color: '$verdebanfield';
    text-align: center;
    background-color: orange; }
  .galeria .carousel-inner h5 {
    color: white;
    background-color: darkgreen; }

.asociate {
  padding: 20px;
  margin: 20px;
  border: solid 5px goldenrod;
  background-color: white;
  text-align: center; }
  .asociate img,
  .asociate svg {
    border: goldenrod solid 2px;
    align-items: center;
    width: 85vw; }
  .asociate h1 {
    color: darkgreen;
    font-family: "Oswald", sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 60px;
    text-decoration: underline;
    text-align: center; }
  .asociate p {
    font-family: "Roboto Condensed", sans-serif;
    margin: 20px;
    padding: 20px;
    margin-left: -10px;
    text-align: justify; }
  .asociate .btn {
    background-color: #ff8c00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    text-decoration: none;
    /* para eliminar el subrayado del enlace */ }
  .asociate .btn:hover {
    color: orange;
    background-color: darkgreen; }

.contacto {
  padding: 20px;
  margin: 20px;
  border: solid 5px goldenrod;
  background-color: white; }
  .contacto h1 {
    color: darkgreen;
    font-family: "Oswald", sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 60px;
    text-decoration: underline;
    text-align: center; }
  .contacto input {
    padding: 10px;
    margin: 10px;
    display: block;
    align-items: flex-start; }
  .contacto form {
    font-family: "Anton", sans-serif;
    display: block;
    padding: 0px;
    margin: 25px; }
  .contacto p {
    font-family: "Roboto Condensed", sans-serif;
    padding: 0;
    margin: 0;
    margin-left: 42px; }
  .contacto .enviar {
    border-radius: 5px;
    background-color: #4CAF50;
    /* verde */
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer; }
    .contacto .enviar:hover {
      background-color: #FFA500; }

.historia {
  padding: 20px;
  margin: 20px;
  border: solid 5px goldenrod;
  background-color: white;
  text-align: center; }
  .historia h1 {
    color: darkgreen;
    font-family: "Oswald", sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 60px;
    text-decoration: underline;
    text-align: center; }
  .historia p {
    color: darkgreen;
    font-family: "Roboto Condensed", sans-serif;
    width: 90%;
    font-size: 15px;
    margin: 20px;
    text-align: justify; }
