@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: -0.6fr 2.7fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "ladoa principal"; }

@media (max-width: 991px) {
  .contenedor {
    display: grid;
    width: 98vw;
    background-color: #006400;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: -0.6fr 2.7fr 2.7fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "encabezado encabezado" "principal principal" "ladoa ladoa" "pie pie"; } }

@media (max-width: 420px) {
  .contenedor {
    width: 100vw; } }

.encabezado {
  grid-area: encabezado; }
  .encabezado .navbar ul li {
    width: 150px;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    color: #006400;
    display: inline-block;
    background-color: white;
    text-align: center;
    border: solid #E3AA30; }
    .encabezado .navbar ul li:hover {
      padding: 5px;
      border: solid #FEFEFE; }
    .encabezado .navbar ul li a {
      display: flex;
      text-align: center;
      padding: 0px;
      color: #006400;
      font-family: "Anton", sans-serif;
      text-decoration: none;
      justify-content: center; }
  .encabezado .navbar-brand img {
    width: 150px;
    border-radius: 5px;
    margin-left: 7px; }
  .encabezado nav {
    background-image: linear-gradient(to bottom, #006400, #FEFEFE) !important;
    overflow: hidden; }
    .encabezado nav ul {
      margin: 15px;
      padding: 0;
      list-style: none;
      position: relative; }
      .encabezado nav ul li {
        transition: background-color 0.5s ease;
        float: left; }
        .encabezado nav ul li a {
          display: block;
          padding: 1px;
          color: #FEFEFE;
          text-decoration: none; }
        .encabezado nav ul li:hover {
          background-color: #E3AA30; }
  .encabezado #navbarNav {
    justify-content: flex-end; }
  .encabezado .navbar-toggler {
    border: solid 5px #FEFEFE; }
    .encabezado .navbar-toggler:hover {
      border: solid 5px #E3AA30; }

@media (max-width: 991px) {
  .encabezado nav {
    background-image: linear-gradient(to bottom, #FEFEFE, #006400) !important;
    overflow: hidden; }
    .encabezado nav ul {
      display: flow-root;
      margin: -12px; } }

@media (max-width: 768px) {
  .encabezado nav ul {
    display: flow-root;
    margin: -12px; } }

.ladoa {
  padding: 20px;
  margin: 20px;
  border: solid 5px #FFC300;
  background-color: #FEFEFE;
  grid-area: ladoa; }
  .ladoa img {
    width: 35px; }
  .ladoa .resultado {
    margin: 5px;
    padding: 5px; }
    .ladoa .resultado h2 {
      font-family: "Lato", sans-serif;
      color: #E3AA30;
      margin: 5px;
      text-align: center; }
    .ladoa .resultado table {
      background-color: #478026;
      text-align: center;
      border-collapse: collapse;
      width: 100%; }
    .ladoa .resultado td,
    .ladoa .resultado th {
      text-align: center;
      padding: 1px;
      border: 1px solid black; }
    .ladoa .resultado tr:nth-child(odd):hover {
      background-color: #639e41; }
  .ladoa .posiciones {
    margin: 5px;
    padding: 5px; }
    .ladoa .posiciones .destacado {
      font-family: Arial;
      font-weight: bold;
      background-color: #006400; }
    .ladoa .posiciones table {
      width: 100px;
      margin: 0 auto;
      color: #FEFEFE;
      text-align: center; }
      .ladoa .posiciones table tr:nth-child(odd) {
        border: 1px solid black;
        background-color: #478026; }
      .ladoa .posiciones table tr:nth-child(odd):hover {
        color: black;
        background-color: #FEFEFE; }
      .ladoa .posiciones table tr:nth-child(even) {
        border: 1px solid black;
        background-color: #639e41; }
      .ladoa .posiciones table tr:nth-child(even):hover {
        color: black;
        background-color: #FEFEFE; }
    .ladoa .posiciones h2,
    .ladoa .posiciones p {
      font-family: 'Lato', sans-serif;
      width: 400px;
      margin: 20px auto;
      text-align: center;
      color: #E3AA30; }
    .ladoa .posiciones .posiciones tr {
      cursor: pointer; }
  .ladoa .media {
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: center; }

@media (max-width: 420px) {
  .ladoa {
    display: none; } }

.pie {
  height: 100px;
  align-content: center;
  display: grid;
  padding-top: 5px;
  background-image: linear-gradient(to bottom, #FEFEFE, #006400);
  grid-area: pie; }
  .pie ul {
    display: flex;
    justify-content: center; }
    .pie ul li {
      list-style: none;
      border-radius: 5px;
      color: #006400;
      display: inline-block;
      text-align: center;
      width: 45px;
      height: 45px; }
      .pie ul li a {
        justify-content: center;
        text-decoration: none; }
  .pie img {
    width: 40px; }

@media (max-width: 991px) {
  .pie {
    background-image: linear-gradient(to bottom, #006400, #FEFEFE); } }

.principal {
  background-color: #FEFEFE;
  padding: 20px;
  margin: 20px;
  border: solid 5px #FFC300;
  text-align: center;
  grid-area: principal; }
  .principal img {
    border: solid 3px #FFC300;
    width: 650px; }
  .principal h1 {
    color: #006400;
    font-family: "Oswald", sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 60px;
    text-decoration: underline;
    text-align: center; }
  .principal p {
    color: #006400;
    font-family: "Roboto Condensed", sans-serif;
    width: 90%;
    font-size: 15px;
    margin: 40px;
    text-align: justify; }
  .principal .nota {
    margin: 5px;
    padding: 5px;
    border: solid 2px #006400; }
    .principal .nota h2 {
      font-size: 40px;
      margin: 20px;
      text-decoration: underline;
      text-align: center; }
    .principal .nota p {
      color: #006400;
      font-family: "Roboto Condensed", sans-serif;
      width: 90%;
      font-size: 15px;
      margin: 40px;
      text-align: justify; }

@media (max-width: 991px) {
  .principal {
    border-radius: 2px; }
    .principal img {
      max-width: 65vw;
      border-radius: 2px; }
    .principal .nota {
      border: #FEFEFE solid 2px;
      border-radius: 2px; }
      .principal .nota h2 {
        margin: auto;
        color: #E3AA30; }
      .principal .nota p {
        margin: auto;
        font-size: 20px; }
      .principal .nota img {
        /* height: 60vh; */
        width: 80vw; } }

@media (max-width: 768px) {
  .principal .nota p {
    margin: 4px;
    font-size: 15px; }
  .principal img {
    max-width: 65vw; } }

@media (max-width: 420px) {
  .principal {
    max-width: 50vw; }
    .principal .nota p {
      margin: auto;
      font-size: 13px; }
    .principal .nota h2 {
      margin: auto;
      padding: 5px;
      font-size: 30px; }
    .principal .nota img {
      width: 50vw; } }

.contenedor-historia {
  background-color: #FEFEFE; }
  .contenedor-historia .historia {
    background-color: #FEFEFE;
    padding: 20px;
    margin: 20px;
    border: solid 5px #FFC300;
    text-align: center; }
    .contenedor-historia .historia h1 {
      color: #006400;
      font-family: "Oswald", sans-serif;
      padding: 10px;
      margin: 10px;
      font-size: 60px;
      text-decoration: underline;
      text-align: center; }
    .contenedor-historia .historia p {
      color: #006400;
      font-family: "Roboto Condensed", sans-serif;
      width: 90%;
      font-size: 15px;
      margin: 20px;
      text-align: justify; }

@media (max-width: 991px) {
  .contenedor-historia {
    background-color: #006400; }
    .contenedor-historia .historia h1 {
      color: #E3AA30; } }

.galeria {
  padding: 20px;
  margin: 20px;
  border: solid 5px #FFC300;
  background-color: #FEFEFE;
  text-align: center; }
  .galeria img {
    border: #FFC300 solid 2px;
    max-width: 90vw;
    max-height: 90vh; }
  .galeria h1 {
    color: #006400;
    font-family: "Oswald", sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 60px;
    text-decoration: underline;
    text-align: center; }
  .galeria h3 {
    font-family: "Oswald", sans-serif;
    margin: 10px;
    padding: 10px;
    text-align: justify; }
  .galeria .carousel-inner p {
    color: '$verdebanfield';
    text-align: center;
    background-color: #E3AA30; }
  .galeria .carousel-inner h5 {
    color: #FEFEFE;
    background-color: #006400; }

@media (max-width: 991px) {
  .contenedor-galeria {
    background-color: #006400; }
    .contenedor-galeria .galeria img {
      max-height: 60vh; } }

.contenedor-asociate {
  background-color: bbanfield; }
  .contenedor-asociate .asociate {
    padding: 20px;
    margin: 20px;
    border: solid 5px #FFC300;
    background-color: #FEFEFE;
    text-align: center; }
    .contenedor-asociate .asociate img,
    .contenedor-asociate .asociate svg {
      border: #FFC300 solid 2px;
      align-items: center;
      width: 85vw; }
    .contenedor-asociate .asociate h1 {
      color: #006400;
      font-family: "Oswald", sans-serif;
      padding: 10px;
      margin: 10px;
      font-size: 60px;
      text-decoration: underline;
      text-align: center; }
    .contenedor-asociate .asociate p {
      font-family: "Roboto Condensed", sans-serif;
      margin: 20px;
      padding: 20px;
      margin-left: -10px;
      text-align: justify; }
    .contenedor-asociate .asociate .btn {
      background-color: #E3AA30;
      color: #FEFEFE;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 4px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      text-decoration: none;
      /* para eliminar el subrayado del enlace */ }
    .contenedor-asociate .asociate .btn:hover {
      color: #E3AA30;
      background-color: #006400; }

@media (max-width: 991px) {
  .contenedor-asociate {
    background-color: #006400; }
    .contenedor-asociate .asociate img {
      max-width: 78vw; } }

.contenedor-contacto .contacto {
  padding: 20px;
  margin: 20px;
  border: solid 5px #FFC300;
  background-color: #FEFEFE; }
  .contenedor-contacto .contacto h1 {
    color: #006400;
    font-family: "Oswald", sans-serif;
    padding: 10px;
    margin: 10px;
    font-size: 60px;
    text-decoration: underline;
    text-align: center; }
  .contenedor-contacto .contacto input {
    padding: 10px;
    margin: 10px;
    display: block;
    align-items: flex-start; }
  .contenedor-contacto .contacto form {
    font-family: "Anton", sans-serif;
    display: block;
    padding: 0px;
    margin: 25px; }
  .contenedor-contacto .contacto p {
    font-family: "Roboto Condensed", sans-serif;
    padding: 0;
    margin: 0;
    margin-left: 42px; }
  .contenedor-contacto .contacto .enviar {
    border-radius: 5px;
    background-color: #52d65d;
    /* verde */
    border: none;
    color: #FEFEFE;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer; }
    .contenedor-contacto .contacto .enviar:hover {
      background-color: #FFC300; }

@media (max-width: 991px) {
  .contenedor-contacto {
    background-color: #006400; }
    .contenedor-contacto .contacto .formulario {
      display: flex;
      flex-direction: column;
      align-items: center; } }
