@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.contenedor {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: -0.6fr 2.7fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "ladoa principal"; }

@media (max-width: 991px) {
  .contenedor {
    display: grid;
    background-color: #006400;
    grid-template-columns: 0.6fr 1.4fr;
    grid-template-rows: -0.6fr 2.7fr 2.7fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "encabezado encabezado" "principal principal" "ladoa ladoa" "pie pie"; } }

@media (max-width: 420px) {
  .contenedor {
    width: 100vw; } }

.header {
  grid-area: encabezado; }
  .header .navbar ul li {
    width: 150px;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    color: #006400;
    display: inline-block;
    background-color: white;
    text-align: center;
    border: solid #E3AA30; }
    .header .navbar ul li:hover {
      padding: 5px;
      border: solid #FEFEFE; }
    .header .navbar ul li a {
      display: flex;
      text-align: center;
      padding: 0px;
      color: #006400;
      font-family: "Anton", sans-serif;
      text-decoration: none;
      justify-content: center; }
  .header .navbar-brand img {
    width: 150px;
    border-radius: 5px;
    margin-left: 7px; }
  .header nav {
    background-image: linear-gradient(to bottom, #006400, #FEFEFE) !important;
    overflow: hidden; }
    .header nav ul {
      margin: 15px;
      padding: 0;
      list-style: none;
      position: relative; }
      .header nav ul li {
        transition: background-color 0.5s ease;
        float: left; }
        .header nav ul li a {
          display: block;
          padding: 1px;
          color: #FEFEFE;
          text-decoration: none; }
        .header nav ul li:hover {
          background-color: #E3AA30; }
  .header #navbarNav {
    justify-content: flex-end; }
  .header .navbar-toggler {
    border: solid 5px #FEFEFE; }
    .header .navbar-toggler:hover {
      border: solid 5px #E3AA30; }

@media (max-width: 991px) {
  .header nav {
    background-image: linear-gradient(to bottom, #FEFEFE, #006400) !important;
    overflow: hidden; }
    .header nav ul {
      display: flow-root;
      margin: -12px; } }

@media (max-width: 768px) {
  .header nav ul {
    display: flow-root;
    margin: -12px; } }

.aside {
  padding: 20px;
  margin: 20px;
  border: solid 5px #FFC300;
  background-color: #FEFEFE;
  grid-area: ladoa; }
  .aside img {
    width: 35px; }
  .aside .aside__resultado {
    margin: 5px;
    padding: 5px; }
    .aside .aside__resultado h2 {
      color: #E3AA30;
      font-family: "Lato", sans-serif;
      margin: 5px;
      text-align: center; }
    .aside .aside__resultado table {
      background-color: #478026;
      text-align: center;
      border-collapse: collapse;
      width: 100%; }
    .aside .aside__resultado td,
    .aside .aside__resultado th {
      text-align: center;
      padding: 1px;
      border: 1px solid black; }
    .aside .aside__resultado tr:nth-child(odd):hover {
      background-color: #639e41; }
  .aside .aside__posiciones {
    margin: 5px;
    padding: 5px; }
    .aside .aside__posiciones .destacado {
      font-family: Arial;
      font-weight: bold;
      background-color: #006400; }
    .aside .aside__posiciones table {
      width: 100px;
      margin: 0 auto;
      color: #FEFEFE;
      text-align: center; }
      .aside .aside__posiciones table tr:nth-child(odd) {
        border: 1px solid black;
        background-color: #478026; }
      .aside .aside__posiciones table tr:nth-child(odd):hover {
        color: black;
        background-color: #FEFEFE; }
      .aside .aside__posiciones table tr:nth-child(even) {
        border: 1px solid black;
        background-color: #639e41; }
      .aside .aside__posiciones table tr:nth-child(even):hover {
        color: black;
        background-color: #FEFEFE; }
    .aside .aside__posiciones h2,
    .aside .aside__posiciones p {
      font-family: 'Lato', sans-serif;
      width: 400px;
      margin: 20px auto;
      text-align: center;
      color: #E3AA30; }
    .aside .aside__posiciones .posiciones tr {
      cursor: pointer; }
  .aside .aside__media {
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: center; }

@media (max-width: 420px) {
  .aside {
    display: none; } }

.footer {
  height: 130px;
  align-content: center;
  display: grid;
  padding-top: 5px;
  background-image: linear-gradient(to bottom, #FEFEFE, #006400);
  grid-area: pie; }
  .footer .arriba {
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end; }
  .footer ul {
    display: flex;
    justify-content: center; }
    .footer ul li {
      list-style: none;
      border-radius: 5px;
      color: #006400;
      display: inline-block;
      text-align: center;
      width: 45px;
      height: 45px; }
      .footer ul li a {
        justify-content: center;
        text-decoration: none; }
  .footer img {
    width: 40px; }

@media (max-width: 991px) {
  .footer {
    background-image: linear-gradient(to bottom, #006400, #FEFEFE); } }

.main-index {
  background-color: #FEFEFE;
  border: solid 5px #FFC300;
  text-align: center;
  padding: 20px;
  margin: 20px;
  grid-area: principal; }
  .main-index img {
    border: solid 3px #FFC300;
    width: 650px; }
  .main-index h1 {
    color: #006400;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    text-decoration: underline; }
  .main-index p {
    color: #006400;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 15px;
    text-align: justify;
    margin: 40px;
    padding: 10px;
    width: 90%; }
  .main-index .main-index__nota {
    margin: 5px;
    padding: 5px;
    border: solid 2px #006400; }
    .main-index .main-index__nota h2 {
      font-size: 40px;
      margin: 20px;
      text-decoration: underline;
      text-align: center; }
    .main-index .main-index__nota p {
      color: #006400;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 15px;
      text-align: justify;
      margin: 40px;
      padding: 10px;
      width: 90%; }

@media (max-width: 991px) {
  .main-index {
    border-radius: 2px; }
    .main-index img {
      max-width: 65vw;
      border-radius: 2px; }
    .main-index .main-index__nota {
      border: #FEFEFE solid 2px;
      border-radius: 2px; }
      .main-index .main-index__nota h2 {
        margin: auto;
        color: #E3AA30; }
      .main-index .main-index__nota p {
        margin: auto;
        font-size: 20px; }
      .main-index .main-index__nota img {
        /* height: 60vh; */
        width: 80vw; } }

@media (max-width: 768px) {
  .main-index .main-index__nota p {
    margin: 4px;
    font-size: 15px; }
  .main-index img {
    max-width: 65vw; } }

@media (max-width: 420px) {
  .main-index .main-index__nota p {
    margin: auto;
    font-size: 18px; }
  .main-index .main-index__nota h2 {
    margin: auto;
    padding: 5px;
    font-size: 30px; }
  .main-index .main-index__nota img {
    width: 80vw; } }

.contenedor-historia {
  background-color: #FEFEFE; }
  .contenedor-historia .main-historia {
    background-color: #FEFEFE;
    padding: 20px;
    margin: 20px;
    border: solid 5px #FFC300;
    text-align: center; }
    .contenedor-historia .main-historia h1 {
      color: #006400;
      font-family: "Oswald", sans-serif;
      font-size: 60px;
      text-align: center;
      margin: 10px;
      padding: 10px;
      text-decoration: underline; }
    .contenedor-historia .main-historia p {
      color: #006400;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 15px;
      text-align: justify;
      margin: 20px;
      padding: 10px;
      width: 90%; }

@media (max-width: 991px) {
  .contenedor-historia {
    background-color: #006400; }
    .contenedor-historia .main-historia h1 {
      color: #E3AA30; } }

.main-galeria {
  padding: 20px;
  margin: 20px;
  border: solid 5px #FFC300;
  background-color: #FEFEFE;
  text-align: center; }
  .main-galeria img {
    border: #FFC300 solid 2px;
    max-width: 90vw;
    max-height: 90vh; }
  .main-galeria h1 {
    color: #006400;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    text-decoration: underline; }
  .main-galeria h3 {
    color: black;
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    text-align: justify;
    margin: 10px;
    padding: 10px; }
  .main-galeria .carousel-inner p {
    color: '$verdebanfield';
    text-align: center;
    background-color: #E3AA30; }
  .main-galeria .carousel-inner h5 {
    color: #FEFEFE;
    background-color: #006400; }

@media (max-width: 991px) {
  .contenedor-galeria {
    background-color: #006400; }
    .contenedor-galeria .main-galeria img {
      max-height: 60vh; } }

.contenedor-asociate {
  background-color: bbanfield; }
  .contenedor-asociate .main-asociate {
    padding: 20px;
    margin: 20px;
    border: solid 5px #FFC300;
    background-color: #FEFEFE;
    text-align: center; }
    .contenedor-asociate .main-asociate img,
    .contenedor-asociate .main-asociate svg {
      border: #FFC300 solid 2px;
      align-items: center;
      width: 85vw; }
    .contenedor-asociate .main-asociate h1 {
      color: #006400;
      font-family: "Oswald", sans-serif;
      font-size: 60px;
      text-align: center;
      margin: 10px;
      padding: 10px;
      text-decoration: underline; }
    .contenedor-asociate .main-asociate p {
      color: black;
      font-family: "Roboto Condensed", sans-serif;
      font-size: 15px;
      text-align: justify;
      margin: 20px;
      padding: 20px;
      margin-left: -10px; }
    .contenedor-asociate .main-asociate .btn {
      background-color: #E3AA30;
      color: #FEFEFE;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 4px;
      box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      text-decoration: none;
      /* para eliminar el subrayado del enlace */ }
    .contenedor-asociate .main-asociate .btn:hover {
      color: #E3AA30;
      background-color: #006400; }

@media (max-width: 991px) {
  .contenedor-asociate {
    background-color: #006400; }
    .contenedor-asociate .main-asociate img {
      max-width: 78vw; } }

.contenedor-contacto .main-contacto {
  padding: 20px;
  margin: 20px;
  border: solid 5px #FFC300;
  background-color: #FEFEFE; }
  .contenedor-contacto .main-contacto h1 {
    color: #006400;
    font-family: "Oswald", sans-serif;
    font-size: 60px;
    text-align: center;
    margin: 10px;
    padding: 10px;
    text-decoration: underline; }
  .contenedor-contacto .main-contacto input {
    padding: 10px;
    margin: 10px;
    display: block;
    align-items: flex-start; }
  .contenedor-contacto .main-contacto form {
    font-family: "Anton", sans-serif;
    display: block;
    padding: 0px;
    margin: 25px; }
  .contenedor-contacto .main-contacto p {
    font-family: "Roboto Condensed", sans-serif;
    padding: 0;
    margin: 0;
    margin-left: 42px; }
  .contenedor-contacto .main-contacto .enviar {
    color: #FEFEFE;
    font-size: 16px;
    border-radius: 5px;
    background-color: #52d65d;
    /* verde */
    border: none;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 10px;
    cursor: pointer; }
    .contenedor-contacto .main-contacto .enviar:hover {
      background-color: #FFC300; }

@media (max-width: 991px) {
  .contenedor-contacto {
    background-color: #006400; }
    .contenedor-contacto .main-contacto .formulario {
      display: flex;
      flex-direction: column;
      align-items: center; } }
