.contenedor-asociate {
    background-color: bbanfield;

    .main-asociate {

        padding: 20px;
        margin: 20px;
        border: solid 5px $dorado;
        background-color: $bbanfield;
        text-align: center;

        img,
        svg {
            border: $dorado solid 2px;
            align-items: center;
            width: 85vw;
        }

        h1 {
            @include texto-propiedades ($verdebanfield, $titulo, 60px, center, 10px, 10px);
            text-decoration: underline;
        }



        p {
            @include texto-propiedades (black, $parrafo, 15px, justify, 20px, 20px);
            margin-left: -10px;
        }

        .btn {
            background-color: $naranju;
            color: $bbanfield;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 4px;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            cursor: pointer;
            text-decoration: none;
            /* para eliminar el subrayado del enlace */
        }

        .btn:hover {
            color: $naranju;
            background-color: $verdebanfield;
        }

    }
}

@media (max-width: 991px) {
    .contenedor-asociate {

background-color: $verdebanfield;
        .main-asociate {

            img{
                max-width: 78vw;
            }

            
        }
    }
}