.pie {
    height: 100px;
    align-content: center;
    display: grid;
    padding-top: 5px;
    background-image: linear-gradient(to bottom, white, darkgreen);




    ul {
        display: flex;
        justify-content: center;

        li {

            list-style: none;
            border-radius: 5px;
            color: darkgreen;
            display: inline-block;
            text-align: center;
            width: 45px;
            height: 45px;

            a {
                color: black;
                justify-content: center;
                text-decoration: none;
            }

        }

    }

    img {
        width: 40px;
    }

    grid-area: pie;
}

@media (max-width: 991px) {

.pie{
    background-image: linear-gradient(to bottom, darkgreen, white);}
}