.main-galeria {
    padding: 20px;
    margin: 20px;
    border: solid 5px $dorado;
    background-color: $bbanfield;
    text-align: center;

    img {
        border: $dorado solid 2px;
         max-width: 90vw;
         max-height: 90vh;
    }

    h1 {
        @include texto-propiedades ($verdebanfield, $titulo, 60px, center, 10px, 10px);
        text-decoration: underline;


    }


    h3 {
        @include texto-propiedades (black, $titulo, 30px, justify, 10px, 10px);


    }


    .carousel-inner p {
        color: '$verdebanfield';
        text-align: center;
        background-color: $naranju;
    }

    .carousel-inner h5 {

        color: $bbanfield;
        background-color: $verdebanfield;
    }
}

@media (max-width: 991px) {
.contenedor-galeria{
    background-color: $verdebanfield;
    .main-galeria{
        img{
            max-height: 60vh;
        }
    }
}

}