.galeria {
    padding: 20px;
    margin: 20px;
    border: solid 5px $dorado;
    background-color: $bbanfield;
    text-align: center;

    img {
        border: $dorado solid 2px;
         max-width: 90vw;
         max-height: 90vh;
    }

    h1 {
        color: $verdebanfield;
        font-family: $titulo;
        padding: 10px;
        margin: 10px;
        font-size: 60px;
        text-decoration: underline;
        text-align: center;

    }


    h3 {
        font-family: $titulo;
        margin: 10px;
        padding: 10px;
        text-align: justify;

    }


    .carousel-inner p {
        color: '$verdebanfield';
        text-align: center;
        background-color: $naranju;
    }

    .carousel-inner h5 {

        color: $bbanfield;
        background-color: $verdebanfield;
    }
}

@media (max-width: 991px) {
.contenedor-galeria{
    background-color: $verdebanfield;
    .galeria{
        img{
            max-height: 60vh;
        }
    }
}

}