.header {
    .navbar {
        ul {
            li {
                width: 150px;
                padding: 10px;
                margin: 20px;
                border-radius: 5px;
                color: $verdebanfield;
                display: inline-block;
                background-color: rgb(255, 255, 255);
                text-align: center;
                border: solid $naranju;
                &:hover{
                    padding: 5px;
                    border:solid $bbanfield;
                }

                a {
                    display: flex;
                    text-align: center;
                    padding: 0px;
                    color: $verdebanfield;
                    font-family: $link;
                    text-decoration: none;
                    justify-content: center;
                }
            }
        }

    }

    .navbar-brand {
        img {
            width: 150px;
            border-radius: 5px;
            margin-left: 7px;


        }
    }

    nav {
        background-image: linear-gradient(to bottom, $verdebanfield, $bbanfield) !important;
        overflow: hidden;

        ul {
            margin: 15px;
            padding: 0;
            list-style: none;
            position: relative;

            li {
                transition: background-color 0.5s ease;
                float: left;
                

                a {
                    display: block;
                    padding: 1px;
                    color: $bbanfield;
                    text-decoration: none;
                }

                &:hover {
                    background-color: $naranju;
                }
            }

        }

    }

    #navbarNav {
        justify-content: flex-end;
    }

    .navbar-toggler {
        border: solid 5px $bbanfield;

        &:hover {
            border: solid 5px $naranju;

        }
    }

    grid-area: encabezado;
}

@media (max-width: 991px) {

    .header {
        nav {
                background-image: linear-gradient(to bottom, $bbanfield, $verdebanfield) !important;
                overflow: hidden;
            ul {
                display: flow-root;
                margin: -12px;
                
            }
        }
    }
}

@media (max-width: 768px) {

    .header {
        nav {
            ul {
                display: flow-root;
                margin: -12px;
            }
        }
    }
}