.encabezado {
    .navbar {

        >.container {
            background-image: linear-gradient(to bottom, darkgreen, lightgreen);
        }

        ul {
            li {
                width: 150px;
                padding: 10px;
                margin: 20px;
                border-radius: 5px;
                color: darkgreen;
                display: inline-block;
                background-color: rgb(255, 255, 255);
                text-align: center;
                border: solid darkorange;

                a {
                    display: flex;
                    text-align: center;
                    padding: 0px;
                    color: darkgreen;
                    font-family: $link;
                    text-decoration: none;
                    justify-content: center;
                }
            }
        }

    }

    .navbar-brand {
        img {
            width: 150px;
            border-radius: 5px;
            border-color: red;
            margin-left: 7px;


        }
    }

    nav {
        background-image: linear-gradient(to bottom, darkgreen, lightgreen) !important;
        overflow: hidden;

        ul {
            margin: 15px;
            padding: 0;
            list-style: none;
            position: relative;

            li {
                transition: background-color 0.5s ease;
                float: left;
                background-color: #555;

                a {
                    display: block;
                    padding: 1px;
                    color: #fff;
                    text-decoration: none;
                }

                &:hover {
                    background-color: orange;
                }
            }

        }

    }

    #navbarNav {
        justify-content: flex-end;
    }

    .navbar-toggler {
        border: solid 5px white;

        &:hover {
            border: solid 5px orange;

        }
    }

    grid-area: encabezado;
}

@media (max-width: 991px) {

    .encabezado {
        nav {
            ul {
                margin: -12px;
                
            }
        }
    }
}

@media (max-width: 768px) {

    .encabezado {
        nav {
            ul {
                margin: -12px;
            }
        }
    }
}