.contenedor-historia {
    background-color: $bbanfield;

    .main-historia {
        background-color: $bbanfield;
        padding: 20px;
        margin: 20px;
        border: solid 5px $dorado;
        text-align: center;

        h1 {
            @include texto-propiedades ($verdebanfield, $titulo, 60px, center, 10px, 10px);
            text-decoration: underline;
        }

        p {
            @include texto-propiedades ($verdebanfield, $parrafo, 15%, justify, 20px, 10px);
            width: 90%;
        }
    }
}

@media (max-width: 991px) {
    .contenedor-historia {
        background-color: $verdebanfield;

        .main-historia {

            h1 {
                color: $naranju;
            }

            
        }
    }
}